Fix obsolete IPv6 RFC references in required scopes

Pointed out by Mohamed Boucadair.

Replace RFC2373 references with RFC4291 + RFC5952

Fixed in PR #46 